.container {
    display: grid;
    justify-content: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
}

.card-image {
    border-radius: 3%;
}

.title-text {
    font-weight: bold;
}

.item {
    width: calc(200px + (400 - 200) * ((100vw - 500px) / (1920 - 500)));
}

.card {
    padding: 1rem 2rem 2rem 2rem;
}

.card:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card:active {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    border-radius: 1%;
}

.card a {
    color: black;
}

.actions {
    display: grid;
    grid-template-columns: 48px 48px auto;
}

.actions .comment{
    margin-right: 8px;
    justify-self: end;
    cursor: pointer;
}

.actions div{
    display: flex;
    margin-right: 8px;
}

.actions div mat-icon{
    margin-right: 2px;
}

.actions div span{
    cursor: default;
}