<div class = "floatButton">
    <button mat-fab (click) = "home()">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-fab (click) = "home()">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>
<div class = "container">
    <a class = "item" *ngFor="let t of themes" routerLink = "/{{categoryName}}/{{t.name}}">
        <mat-card class = "card">
            <mat-card-header>
                <mat-card-title class = "title-text">{{t.name}}</mat-card-title>
            </mat-card-header>
            <img class = "card-image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        </mat-card>
    </a>
</div>