.container{
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}

.date {
    font-size: 1.4rem;
}

.time {
    font-size: 2rem;
}

.linie {
    width: 140%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.photo img{
    width: calc(100px + (200 - 100) * ((100vw - 500px) / (1920 - 500)));
    border-radius: 50%;
    border: 1px solid;
}

.converter .input-width{
    width: 46%;
    margin: 0 4px 0px 4px;
}

.buttons {
    display: grid;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.note {
    width: 100%;
}

table {
    width: 100%;
}

.mat-column-id{
    text-align: end;
}

.table-input-field {
    margin: 1rem 0 1rem 0;
    width: 100%;
}

.notes-button {
    width: 100%;
}

.calculator{
    width: 100%;
    height: 18rem;
    margin-bottom: 1rem;
}

td, th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 140px;
}

td.mat-cell {
    padding: 6px 0px;
}