.container {
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.pageName {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 1.8rem;
    background-color: rgb(253, 253, 253);
    border-radius: 25px;
    border: 2px solid gray;
    cursor: default;
    padding: 2px;
    height: 40px;
}

.pageName a{
    color: black;
}

.material-icons{
    font-size: 2rem;
}

.floatButton {
    display: grid;
    position: fixed;
    z-index: 99;
    left: 5rem;
    top: 19rem;
}

.floatButton button {
    border: 1px solid white;
    background-color: lightcoral;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.floatButton button mat-icon {
    font-size: 24px;
}