<div class="container">
  <div class = "header" [@vanish]="page">
    <h1 class="mat-title">{{ currentPage.title }}</h1>
    <p class="mat-small">{{ currentPage.message }}</p>
  </div>

  <form [formGroup]="form" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="10px" 
  (ngSubmit)="activate(page)" *ngIf = "page">
    <!-- *ngIf="page !== 'promptEmail' && page !== 'verifyEmail' && page !== 'recoverEmail'" -->

    <!-- ERROR MESSAGE -->
    <mat-error *ngIf="error" @inflate>{{ error }}</mat-error>
  
    <!-- NAME -->
    <div *ngIf="form.contains('name')" @inflate>
      <mat-form-field appearance="legacy" >
        <mat-label>Vollständiger Name</mat-label>
        <input matInput formControlName="name" name = "name">
        <mat-error *ngIf="form.controls['name'].errors?.['required'] && form.controls['name'].touched">
          Bitte geben Sie hier Ihren Namen an
        </mat-error>
      </mat-form-field>
    </div>
  
    <!-- EMAIL -->
    <div *ngIf="form.contains('email')" @inflate>
      <mat-form-field appearance="legacy">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" name = "email">
        <mat-error *ngIf="form.controls['email'].errors?.['required'] && form.controls['email'].touched">
          Bitte geben Sie eine E-Mail-Adresse an
        </mat-error>
        <mat-error *ngIf="form.controls['email'].errors?.['email'] && form.controls['email'].touched">
          Ooops! Es sieht so aus, als wäre dies keine gültige E-Mail
        </mat-error>
      </mat-form-field>
    </div>
  
    <!-- PASSWORD -->
    <div *ngIf="form.contains('password')" @inflate>
      <mat-form-field appearance="legacy">
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" name = "password">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">
          {{ hidePassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="form.controls['password'].errors?.['required'] && form.controls['password'].touched" class = "passwordError">
          <span>Ein Passwort ist erforderlich</span>
          <span class="mat-link-error" (click)="switchPage('forgotPassword')" *ngIf = "page === 'signIn'" @inflate>Passwort vergessen?</span>
        </mat-error>
        <mat-hint class="mat-link" align="end" (click)="switchPage('forgotPassword')" *ngIf = "page === 'signIn'" @inflate>Passwort vergessen?</mat-hint>
      </mat-form-field>
    </div>
  
    <!-- NEW EMAIL -->
    <div *ngIf="form.contains('newEmail')" @inflate>
      <mat-form-field appearance="legacy" >
        <mat-label>Neu email</mat-label>
        <input matInput formControlName="newEmail" name = "newEmail">
        <mat-error *ngIf="form.controls['newEmail'].errors?.['required'] && form.controls['newEmail'].touched">
          Eine neue E-Mail ist erforderlich
        </mat-error>
        <mat-error *ngIf="form.controls['newEmail'].errors?.['email'] && form.controls['newEmail'].touched">
          Diese E-Mail sieht falsch aus
        </mat-error>
      </mat-form-field>
    </div>
  
    <!-- NEW PASSWORD -->
    <div *ngIf="form.contains('newPassword')" @inflate>
      <mat-form-field appearance="legacy" >
        <mat-label>Neu  password</mat-label>
        <input matInput formControlName="newPassword" name = "newPassword">
        <mat-error *ngIf="form.controls['newPassword'].errors?.['required'] && form.controls['newPassword'].touched">
          Ein neues Passwort ist erforderlich
        </mat-error>
      </mat-form-field>
    </div>
  
    <!-- ACTION BUTTON -->
    <button class="btn" mat-stroked-button color="primary" type="submit" [disabled]="!form.valid">
      {{ currentPage.caption }}
    </button>
  
    <mat-progress-bar *ngIf="progress" mode="indeterminate" @inflate></mat-progress-bar>
  
  </form>

  <p class="mat-small" *ngIf="page == 'signIn'">
    Sind Sie ein neuer Benutzer? <span class="mat-link" (click)="switchPage('register')">Register</span>
  </p>

  <p class="mat-small" *ngIf="page === 'register' || page === 'forgotPassword'">
    Haben Sie bereits Login und Passwort? <span class="mat-link" (click)="switchPage('signIn')">Sign-in</span>
  </p>

  <!-- SIGN-IN PROVIDERS -->
<!-- <div fxLayout="column" fxLayoutAlign="center center" *ngIf="page == 'signIn'" @inflate>

  <p class="mat-small">or sign-in with:</p>

  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">

    <button mat-icon-button *ngFor="let p of providers" (click)="signInWith(p.name)">
      <mat-icon class="providers"
                [fontSet]="p.icon.split(':')[0]"
                [fontIcon]="p.icon.split(':')[1]" 
                [ngStyle]="{ color: p.color }">
      </mat-icon>
    </button>
  </div>
</div> -->
</div>