.container {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: stretch;
    width: 300px;
    max-width: 100%;
    text-align: center;
}

.container .header{
    margin-bottom: 1rem;
}

.btn {
    margin-top: 10px;
    min-height: 48px;
}
  
.providers {
    font-size: 1.5em;
}

.mat-link {
    cursor: pointer;
    color: rgb(55, 178, 255) !important;
    text-decoration: underline;
}

.mat-link-error {
    cursor: pointer;
    text-decoration: underline;
}

.mat-form-field {
    display: block;
}

.passwordError {
    display: flex;
    justify-content: space-between;
}