.container {
    display: grid;
    gap: 10px;
    height: 140vh;
    margin: 0.5rem;
}

.box{
    display: grid;
    background-color: bisque;
    display: grid;
    place-items: center;
}

.box app-header {
    align-self: end;
}

.header {
    grid-column: span 20;
    grid-row: span 5;
}

.home {
    margin-left: 4rem;
    grid-column: span 18;
    grid-row: span 25;
}

.navbar {
    margin-right: 4rem;
    grid-column: span 2;
    grid-row: span 25;
}

.footer {
    grid-column: span 20;
}