.container{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
}

.card-image {
    border-radius: 3%;
}

.title-text {
    font-weight: bold;
}

.card {
    width: calc(200px + (400 - 200) * ((100vw - 500px) / (1920 - 500)));
    padding: 1rem 2rem 1rem 2rem;
}