.container {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
}

.card-image {
    border-radius: 3%;
}

.title-text {
    font-weight: bold;
}

.item {
    width: calc(200px + (400 - 200) * ((100vw - 500px) / (1920 - 500)));
    justify-self: center;
}

.card {
    padding: 1rem 2rem 1rem 2rem;
}

a:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

a:active {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    border-radius: 1%;
}

.pageName {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    background-color: rgb(253, 253, 253);
    border-radius: 25px;
    border: 1px solid;
}